@mixin circle($height) {
  border-radius: $height / 2 + px;
  // overflow: hidden;
  // border: solid 1px black;
  // box-shadow: 5px 5px 5px black;
}

@mixin circlePerc($height) {
  border-radius: $height / 2;
  // overflow: hidden;
  // border: solid 1px black;
  // box-shadow: 5px 5px 5px black;
}

@mixin croppedCircle() {
  // overflow: hidden;
  -webkit-clip-path: circle(50.1% at 80% 50%);
  clip-path: circle(50.1% at 80% 50%);
}

@mixin square($height) {
  height: $height + px;
  width: $height + px;
  overflow: hidden;
}

@mixin icon($url, $width, $height) {
  overflow: hidden;
  display: inline-block;
  width: $width + px;
  height: 0;
  padding-top: $height + px;
  background: url($url) center center no-repeat;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@keyframes slideIn {
  0% {
    margin-left: 500px;
  }
  100% {
    margin-left: -200px;
  }
}

@keyframes slideOut {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -200px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

// @keyframes displayNone {
//   0% {
//     display: block;
//   }
//   100% {
//     display: none;
//   }
// }
