@charset "utf-8";
@import "normalize";
@import "colors";
@import "mixins";
@import "font-awesome-sprockets";
@import "font-awesome";

$z-index-0: 0;
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;

.doc {
  margin: 3em 0;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      // color: white;
      transition: all 0.15s linear;
    }
    &:visited {
      color: $cream;
    }
  }
}



.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

////////////////////////// Navbar /////////////////////

.hamburger {
  display: none;
  float: right;
  position: fixed;
  font-size: 3em;
  top: 10px;
  right: 15px;
}

.navbar {
  background: $darkGray;
  clear: both;
  &,a, a:visited {
    color: $cream;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      float: left;
    }
  }
  .logo {
    float: left
  }
  .logo-mobile {
    display: none;
  }
  .logo img {
    height: 4.75em;
    margin-top: 0em;
  }
}

.navigation-links {
  float: right;
  ul {
    list-style: none;
    li {
      padding: 0 5px 0 5px;
      a {
        font-style: normal;
        font-weight: 400;
        color: $cream;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

.menu-hover .navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-5;
  background: none;
}

@media screen and (max-width: 800px){
  .hamburger {
    display: inline-block;
    z-index: $z-index-5;
  }
  .mobile-menu {
    background: black;
    position: fixed;
    padding: 0px;
    top: 0;
    left: -320px;
    bottom: 0;
    z-index: $z-index-5;
    width: 300px;
    box-shadow: -63px 0px 3px 70px RGBA(0, 0, 0, .50);
      transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    &.active {
      left: 0;
      transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  }
  .menu-hover .navbar {
    position: inherit;
  }

  .navbar .logo {
    float: none;
  }

  .navbar .logo-mobile {
    display: block;
    min-width: 170px;
    float: left;
    padding: 10px;
    top: 10px;
  }


  .navigation-links {
    float: none;
    ul {
      list-style: none;
      li {
        float: none;
        padding: 0 5px 0 5px;
        a {
          text-decoration: none;
        }
      }
    }
  }

  .nav-inner .navigation-links {
    float: none;
    ul {
      list-style: none;
      li {
        float: none;
        padding: 0 5px 0 5px;
        a {
          text-decoration: none;
        }
      }
    }
  }

  .navigation-links:active {
    ul {
      display: block;
      list-style: none;
      li {
        padding: 0 5px 0 5px;
        a {
          text-decoration: none;
        }
      }
    }
  }

}


////////////////////////// Helpers /////////////////////
.clearfix {
  @include clearfix;
}

////////////////////////// Icons /////////////////////
.gear-icon {
  @include icon('/assets/gear.png', 50, 50);
}

.circle-square {
  @include circle(200);

}
.cat {
  @include circle(250);
}

////////////////////////// buttons /////////////////////
.btn {
  display: block;
  width: 120px;
  height: 30px;
  padding: 8px 0 0 0;
  text-decoration: none;
}

.btn-primary {
  color: white;
  background-color: $green;
  font-style: italic;
}

////////////////////////// Base /////////////////////
body {
  background: $darkGray;
  text-align: center;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif, Helvetica, Arial;
  font-size: 1em;
}

.container {
  // width: 1280px;
  margin: 0 auto;
}

.fill-height {
  height: 100%;
}

blockquote {
  font-size: 3em;
  font-weight: 200;
  font-style: italic;
  text-align: left;
  color: $salmon;
}
.author {
  color: $salmon;
  font-weight: 200;
  font-style: italic;
  text-align: left;
}

h1 {
  text-align: left;
  font-size: 3em;
}
h2 {
  font-weight: 200;
  text-align: left;
  font-size: 2em;
}
h3 {
  text-align: left;
  font-size: 1.5em;
}
p {
  text-align: left;
}
a {
  font-style: normal;
}
ul {
  list-style: none;
}
.logo img {
  height: 18.75em;
  margin-top: 6em;
}

.title {
  text-align: center;
}

////////////////////////// Hero /////////////////////

.hero {
  height: 100vh;
  position: relative;
  .hero-background {
    background: url('/images/hero.jpg');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    z-index: $z-index-1;
    display: block;
    &.active {
      // display: block;
    }
    .container {
      height: 100%;
    }
  }
  .hero-text {
    max-width: 900px;
    position: relative;
    z-index: $z-index-2;
    h1 {
      font-weight: 500;
      font-size: 4em;
      color: $cream;
    }
  }
  .hero-link {
    color: $green;
    text-decoration: none;
    float: left;
  }
}

////////////////////////// Featured Case Study /////////////////////
.featured-case-study {
  height: 100vh;
  background-color: $cream;
  justify-content: center;
  display: flex;
  align-items: center;
}

h2.featured-project-title {
  font-weight: 200;
  color: $darkGray;

}

p.description {
  font-weight: 300;
  font-style: italic;
  color: $mediumGray;
}

.slider-list {
  font-size: 1em;
  font-weight: 300;
  color: $mediumGray;
}

////////////////////////// How We Work /////////////////////
.how-we-work {
  min-height: 100vh;
  background-color: $darkGray;
  color: $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

////////////////////////// Clients /////////////////////
.client-list {
  min-height: 100vh;
  background-color: $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  img {
    opacity: .75;
    mix-blend-mode: multiply;
  }
}

a {
  font-weight: 200;
  font-style: italic;
  text-decoration: none;
  color: $green;
  font-size: 1em;
}

div .client-grid > div:nth-child(3) {
    margin-left: 50px;
    margin-right: 50px;
    // background-color: red;
}

.client-grid {
  // max-width: 1280px;
  .row div {
  }
  .row div:last-child {
    background-color: none;
  }
}


////////////////////////// Our Work /////////////////////
.our-work {
  min-height: 100vh;
  background-color: $cream;
}

////////////////////////// the-veda-way /////////////////////
.the-veda-way {
  min-height: 100vh;
  background-color: $cream;
}

////////////////////////// contact-us /////////////////////
.contact-us {
  min-height: 100vh;
  background-color: $cream;
}


////////////////////////// the-veda-team /////////////////////
.the-veda-team {
  min-height: 100vh;
  background-color: $cream;
}

////////////////////////// Footer /////////////////////
footer {
  min-height: 35vh;
  background-color: $darkGray;
  color: $cream;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  ul {
    float: left;
    text-align: left;
  }
  li {
    a {
      display: block;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 200;
      line-height: 30px;
      color: $mediumGray;
      text-decoration: none;
    }
    a.list-item-plain {
      display: block;
      text-transform: none;
      margin-top: 20px;
    }
  }
  div {
    ul {
      display: flex;
      padding: 0px;
    }
    p {
      font-size: 1em;
      font-weight: 100;
      text-transform: uppercase;
      margin: 0px;
      font-size: 1em;
    }
    p.footer-address {
      font-size: 1em;
      margin: 0px;
      line-height: 18px;
    }
    h4.footer-email {
      font-size: 2em;
      font-weight: 300;
      font-style: italic;
      color: $green;
      margin: 0px;
    }
    h4.footer-phone {
      font-size: 2em;
      font-style: italic;
      font-weight: 200;
      color: $cream;
      margin: 0px;
    }
  }
}

.footer-nav {
  min-height: 215px;
  border-left: 1px solid $mediumGray;
  border-right: 1px solid $mediumGray;
  margin-right: 40px;
  div {
    ul {
      margin-left: 45px;
      margin-right: 45px;
      display: block;
    }
  }
}

.social-nav {
  margin: 0px;
  .social-icon {
    min-width: 32px;
    margin-left: 5px;
    margin-righ: 5px;
  }
}

.footer-logo {
  background-color: $darkGray;
  max-width: 120px;
  margin: 30px;
}

.footer-badge {
  min-width: 142px;
  padding-left: 0px;
}


.copyright {
  font-size: 1em;
  display: block;
  font-style: italic;
  font-weight: 200;
  color: $mediumGray;
  text-decoration: none;
}

////////////////////////// Slider Indicator /////////////////////

.circle-large {
  border: solid 1px black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.indicator {
  border: solid 1px $mediumGray;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  display: block;
  margin: 4px;
}

.slider-list {
  display: flex;
  padding-left: 0px;
  li {
    list-style-type: none;
  }
}

.slider-image {
  background: url("http://gabrielhummel.com/wp-content/uploads/2009/10/angrycat_1.jpg") center center no-repeat;
  height: 250px;
  width: 250px;
  @include circle(250);
}
