@charset "utf-8";
@import "normalize";
@import "colors";
@import "mixins";
@import "font-awesome-sprockets";
@import "font-awesome";

$z-index-0: 0;
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;


////////////////////////// Base /////////////////////
body {
  background: $cream;
  text-align: center;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif, Helvetica, Arial;
  font-size: .85em;
  overflow-x: hidden;
  width: 100%;
}

a:focus {
  color: inherit;
}

a.hero-link:hover {
  color: $cream;
}

.hide-for-desktop {
  display: none;
}
.override-transition {
  transition: none !important;
}

.container {
  margin: 0 auto !important;
  // overflow: hidden;
  max-width: 1280px;
}

.fill-height {
  height: 100%;
}

blockquote {
  font-size: 3em;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: $salmon;
  // max-width: 820px;
  quotes: "	\201C" "	\201D";
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}

.author {
  color: $salmon;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  margin-bottom: 0px;
}

h1 {
  text-align: left;
  font-size: 46px;
}
h1.title {
  text-align: center;
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 0px;
  color: $darkGray;
}
h1.title-case-study {
  margin-top: 50px;
  text-align: center;
  font-weight: 300;
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 0px;
  color: $darkGray;
}
h1.title-left {
  text-align: left;
  font-weight: 300;
  font-size: 52px;
  line-height: 50px;
  color: $darkGray;
}
h2 {
  font-weight: 300;
  text-align: left;
  font-size: 48px;
}
h3 {
  text-align: left;
  font-size: 21px;
}
h4 {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  color: $darkGray;
  margin: 0px;
}
p {
  text-align: left;
  line-height: 20px;
  font-weight: 300;
}

a {
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  color: $green;
  font-size: 16px;
  font-style: normal;
}
ul {
  list-style: none;
}
.logo img {
  height: 18.75em;
  margin-top: 6em;
}

.title {
  text-align: center;
}
.title-description {
  h3 {
    font-size: 21px;
    line-height: 25px;
    margin-top: 40px;
    font-style: italic;
    font-weight: 300;
    color: RGBA(122, 120, 115, 1);
    text-align: center;
    &.left {
      text-align: left;
    }
  }
}

.row {
  margin: 0px;
}

.featured-image img {
  width: 425px;
  margin: 0px 10px;
}

.bold {
  font-weight: 500;
}

.caps {
  text-transform: uppercase;
}

@media (min-width:800px) {
  body{
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

////////////////////////// Helpers /////////////////////
.clearfix {
  @include clearfix;
}

////////////////////////// Icons /////////////////////
.gear-icon {
  @include icon('/assets/gear.png', 50, 50);
}

.circle-square {
  @include circle(300);

}
.cat {
  @include circle(250);
}

////////////////////////// buttons /////////////////////
.btn {
  display: block;
  width: 120px;
  height: 30px;
  padding: 10px 30px 0 30px;
  font-size: 14px;
  text-decoration: none;
}

.btn-primary {
  color: white;
  background-color: $green;
  font-style: italic;
}

.btn-work {
  width: 100px;
  padding: 10px 10px 0px 10px;
}

.btn-veda-way {
  display: block;
  width: 244px;
  height: 30px;
  padding: 8px 18px 0 18px;
  text-decoration: none;
}

.btn-white {
  background-color: $cream;
  color: $mediumGray;
  display: block;
  width: 170px;
  height: 30px;
  padding: 8px 18px 0 18px;
  text-decoration: none;
}

////////////////////////// Navbar /////////////////////

.hamburger {
  display: none;
  float: right;
  font-size: 3em;
  top: 10px;
  margin-top: 10px;
  right: 15px;
  text-shadow: 1px 2px 2px #333;
}

.navbar {
  transition: all 0.5s;
  z-index: 600;
  height: 75px;
  margin: 0 auto;
  background: $darkGray;
  clear: both;
  position: fixed;
  width: 100%;
  &,a, a:visited {
    color: $cream;
  }
  a {
    display: block;
    min-width: 100px;
    min-height: 60px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
    li {
      // float: left;
    }
  }
  .logo {
    background-image: url("../images/veda-nav-logo.svg");
    background-repeat: no-repeat;
    background-clip: border-box;
    max-width: 109px;
    max-height: 25px;
    float: left;
    // margin-left: 30px;
    margin-left: 5%;
  }
  .logo-mobile {
    display: none;
  }
  .logo img {
    width: 190px;
    max-height: 100px;
    margin-top: 0px;
    margin-left: 45px;
  }
  .navigation-links {
    margin: 0 0 0 90px;
    a:hover {
      color: $green;
    }
  }
}
.menu-hover .navbar {
  transition: all 0.5s;
  background: none;
  height: 60px;
  margin-top: 20px;
  a {
    display: block;
    min-width: 100px;
    min-height: 60px;
  }
  .logo {
    background-image: url("../images/logo-top.svg");
    background-repeat: no-repeat;
    background-clip: border-box;
    min-width: 187px;
    min-height: 60px;
    margin-left: 6%;
  }
  .navigation-links {
    margin: 0 0 0 0px;
  }
}

.nav-inner {
  height: 100%;
}

.navigation-links {
  margin: 0px;
  height: 18px;
  ul {
    list-style: none;
    display: inline-flex;
    li {
      max-height: 25px;
      a {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        color: $cream;
        text-transform: uppercase;
        text-decoration: none;
      }
      a.active {
        color: $green;
      }
    }
    li:nth-child(1){
      padding: 0px 0px 0px 0px;
      text-align: center;
    }
    li:nth-child(2){
      padding: 0px 0px 0px 10px;
      text-align: center;
    }
    li:nth-child(3){
      padding: 0px 5px 0px 5px;
      text-align: center;
    }
    li:nth-child(4){
      border-left: 2px solid $mediumGray;
      text-align: left;
      max-width: 60px;
      margin-left: 11px;
      padding-left: 33px;
      a {
        font-style: italic;
        text-transform: none;
      }
    }
  }
}


////////////////////////// Hero /////////////////////

.hero {
  height: 90vh;
  position: relative;
  background: $darkGray;
  .hero-background{
    // background: url('/images/hero.jpg');
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    z-index: $z-index-1;

    display: block;
    opacity: 0;
    transition: opacity 1s;
    &.fade {
      opacity: 1;
      transition: opacity 1s;
    }

    .container {
      height: 100%;
    }
  }
  .hero-text {
    max-width: 900px;
    position: relative;
    z-index: $z-index-2;
    h1 {
      font-weight: 500;
      font-size: 90px;
      line-height: 92.64px;
      color: $cream;
    }
  }
  .hero-link {
    color: $green;
    text-decoration: none;
    float: left;

    align-items: center;
    span {
      font-size: 24px;
      margin-right: 14px;
    }
    .icon-right-arrow {
      height: 24px;
      img {
      width: 14px;
      height: 25px;
      }
    }

  }
}

.social-status {
  background-color: $green;
  padding: 80px 120px;
  h2 {
    font-size: 60px;
    line-height: 35px;
    color: $cream;
    margin: 0 auto;
    padding: 0px 0px 35px 0px;
  }
  p {
    max-width: 800px;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    padding: 0px 0px 65px 0px;
    a {
      font-size: 16px;
      color: $darkGray;
      font-style: italic;
    }
  }
  .description {
    font-size: 16px;
    color: $darkGray;
  }

}
  .underline {
    text-decoration: underline;
  }
////////////////////////// Featured Case Study /////////////////////
.case-study-featured {
  padding: 80px;
  background-color: $cream;
  overflow: hidden;
  .slider-row {
    height: 870px;
  }
  .indicator-col {
    z-index: $z-index-5;
  }
  .case-study-image-container {
    min-height: 850px;
  }
  .case-study-image-container .featured-case-study-image {
    display: none;
    img {
      z-index: $z-index-1;
      margin-left: 1200px;
      @include circlePerc(100%);
      width: 100%;
      height: 100%;
      max-height: 875px;
      max-width: 875px;
      display: block;
    }
    &.active {
      animation: fadeIn 1s 1 forwards;
      img {
        // margin-left: 0px;
        // transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
        // right: -650px;
        // animation: slideIn 1s 1 forwards,
      }
    }
  }
  .display {
    display: block !important;
  }
  .case-study-details {
    display: none;
    animation: fadeOut .5s 1 forwards;
    .btn {
      margin-top: 45px;
    }
  }
  .case-study-details.active {
    min-height: 450px;
    animation: fadeIn 1s 1 forwards;
  }
}

h2.featured-project-title {
  font-weight: 300;
  line-height: 48px;
  color: $darkGray;
}

a.indicator.active{
  background: $lightGray;
}
.indicator-row .col-md-8 {
  margin-left: 0px;
  padding-left: 0px;
}
.indicator-list {
  display: flex;
  padding-left: 0px;
  li {
    list-style-type: none;
    color: $lightGray;
  }
  li p {
    font-size: 14px;
    padding-right: 20px;
    font-weight: 500;
  }
  .indicator {
    border: solid 1px $lightGray;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    display: block;
    margin: 4px;
  }
}

////////////////////////// Case Study Page /////////////////////
.shout-out {
  background-color: $salmon;
  margin-top: 60px;
}

.case-study-page {
  .featured-image{
    margin-top: 125px;
  }
  .featured-image img {
    height: 571px;
    width: inherit;
    @include circle(571);
  }
  .title-description{
    margin-bottom: 105px;
    h3 {
      color: $salmon;
      font-weight: 300;
    }
  }
  .info-header {
    .col-md-4 {
    border-left: 1px solid $lightGray;
    padding-left: 22px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    }
    .col-md-2 img{
      width: 20px;
    }
    .col-md-2 {
      padding: 0px 0px;
    }
    p.icon-title {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      color: $darkGray;
    }
    .icon-row .col-md-10 {
      padding-left: 0px;
      img {
        display:block;
      }
    }
    .col-md-12{
      padding-left: 10px;
      p{
        font-size: 17px;
        font-weight: 300;
        color: $darkGray;
        margin: 0px;
      }
    }
  }
  .detail-textblock {
    margin-bottom: 50px;
    h4 {
      color: $salmon;
      font-weight: 500;
    }
    p {
      margin-top: 0px;
    }
  }
  ul {
    text-align: left;
    font-weight: 300;
    padding-left: 0px;
    li {
      list-style: none;
      color: $darkGray;
    }
  }
  .author {
    font-size: 16px;
  }
  .client-shout-out{
    background-color: $salmon;
    color: $cream;
    padding: 90px 0px;
    .col-md-10 {
      padding-left: 0px;
    }
    & * {
      margin-left: 0px;
    }
    .container {
      margin: unset;
      max-width: unset;
      width: 100% !important;
    }
    .col-md-5{
      padding-left: 0px;
    }
    .col-md-5 p {
      font-size: 12px;
      margin: 0px;
    }
    h3{
      font-size: 20px;
      font-weight: 500;
      margin: 0px;
      margin-bottom: 35px;
    }
  }
  .mobile-client-link {
    display: none;
  }
}


////////////////////////// How We Work /////////////////////
.how-we-work {
  min-height: 100vh;
  padding: 75px 0px;
  background-color: $darkGray;
  color: $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  .container {
    margin: 20px 0 20px 0;
  }
  h2 {
    font-size: 60px;
    color: $green;
    margin: 0 auto;
    padding: 0px 0px 35px 0px
  }
  p {
    max-width: 800px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    padding: 0px 0px 65px 0px
  }
  a {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  img {
    width: 585px;
  }
}

////////////////////////// Clients /////////////////////
.client-list {
  title {
    margin-top: 125px;
  }
  min-height: 100vh;
  background-color: $cream;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  h1 {
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 0px;
    color: $darkGray;
  }
  img {
    margin: 25px 0px 25px 0px;
    opacity: 1;
    mix-blend-mode: multiply;
  }
  .client-list-link {
    margin: 0px 0px 50px 0px;
    font-style: italic;
    display: block;
  }

}

div .client-grid > div:nth-child(3) {
    // margin-left: 50px;
    // margin-right: 50px;
    // background-color: red;
}

.client-grid {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 115px;
  min-width: 100%;
  display: block;
  .row div {
  }
  .row div:last-child {
    background-color: none;
  }
  .col-md-3 .col-xs-6 {
    align-items: center;
    align-content: center;
    display: flex;
  }
}


////////////////////////// Our Work /////////////////////
.our-work-container {
  background: $cream;
}

.mobile-dropdown{
  display: none;
}

.case-study-title{
  min-height: 155px;
}

.our-work {
  .job {
    margin: 20px 0px;
    h3 {
      line-height: 18px;
      font-size: 18px;
      margin-bottom: 5px;
      color: $darkGray;
    }
    p {
      line-height: 5px;
      font-weight: 300px;
      color: $darkGray;
    }
    .bold {
      font-weight: 500;
    }
  }
  .content-col:last-child{
    padding-bottom: 105px;
  }
}

.more-work-section {
  .title {
    font-weight: 500;
    color: $darkGray;
  }
}

.page-title {
  margin-top: 150px;
  h1 {
    text-align: center;
  }
}

.case-study {
  margin: 40px 25px 25px 25px;
  .thumb {
    height: 100%;
    width: 100%;
    @include circlePerc(100%);
  }
  .btn.btn-primary {
    margin: 0px auto;
  }
  div {
    h3 {
      text-align: center;
      color: $darkGray;
      font-size: 25px;
      font-weight: 300;
    }
  }
}

.morework-row {
  width: 100%;
  margin: 0 auto;
  .left {
    padding-left: 0px;
  }
}

.morework-row-border {
  border-bottom: 1px solid $extraLightGray;
  border-top: 1px solid $extraLightGray;
}

.content-col {
  border-left: 1px solid $extraLightGray;
  margin: 0 auto;
  min-height: 450px;
}

.thumbnail-row {
  img {
    background: url("../images/anders-jilden-108186.jpg") center center no-repeat;
    @include square(95);
  }
}

.veda-quote {
  padding: 80px 0px 140px 0px;
}

.work-nav {
  padding: 0px;
  ul {
    padding-left: 0px;
    li:first-child{
      margin-bottom: 40px;
    }
    li:nth-child(7){
      margin-bottom: 40px;
    }
    li {
      font-weight: 300;
      font-size: 17px;
      padding: 6px;
      padding-left: 10px;
      text-align: left;
      color: $mediumGray;
      a {
        color: $mediumGray;
      }

    }
    li.active {
      text-align: left;
      background-color: $extraLightGray;
      a {
        font-weight: 500;
        color: $darkGray;
      }
    }
  }
}

////////////////////////// the-veda-way /////////////////////

.the-veda-way {
  min-height: 100vh;
  .process-section {
    padding: 30px 30px 0px 30px;
    background-image: url("../images/background-worm.svg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 80% 80%, contain;
    background-position-y: 180px;
    background-position-x: 180px;
  }

  .services-section {
    margin: 55px 0px 0px 0px;
    padding: 55px 0px 110px 0px;
    .row {
    min-width: 100%;
    }
    .service {
      margin: 25px 0px;
      padding: 35px 0px;
      img {
        max-width: 70%;
        max-height: 70%;
      }
    }

    // p {
    //   margin: 0px;
    //   font-size: 16px;
    //   font-style: normal;
    //   font-weight: 300;
    //   color: $mediumGray;
    // }
    a {
      display: block;
      text-align: left;
      font-style: italic;
      font-size: 16px;
      font-weight: 300;
    }
    .col-md-2 img {
      max-width: 92px;
    }
    .col-md-8 a {
      font-style: italic;
      text-align: left;
      display: block;
    }
  }
  .row.process:first-child {
    margin: 155px 0px;
    margin-top: 70px;
  }
  .row.process {
    margin: 155px 0px;
  }
  .process .col-md-5 {
    max-width: 420px;
  }
  min-height: 100vh;
  background-color: $cream;
  .number {
    max-width: 160px;
  }
  .number img {
    max-height: 150px;
    min-width: 120px;
    max-width: 120px;
    margin: 0px 0px;
    padding: 0px 10px;
  }
  .featured-image img {
    width: 420px;
    margin: 0px 10px;
  }
  .bottom-border {
    border-bottom: 1px solid $extraLightGray;
  }
  // p {
  //   font-size: 21px;
  //   font-style: italic;
  //   font-weight: 300;
  //   color: $mediumGray;
  // }

  .process-description {
    padding: 0px 30px;
    h3 {
      font-size: 28px;
      margin: 0px;
      line-height: 0px;
      color: $darkGray;
    }
    p {
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      color: $darkGray;
    }
    ul {
      text-align: left;
      padding-left: 0px;
      li {
        color: $mediumGray;
        list-style: none;
        font-size: 14px;
        font-style: italic;
        font-weight: 300;
      }
    }
  }
  .author {
    // text-align: center;
    color: RGBA(231, 115, 108, 1);
    // font-weight: 300;
    // font-size: 16px;
    // font-style: italic;
    // text-align: left;
    // margin-bottom: 0px;
  }
  .on-a-mission {
    max-width: 1000px;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px;
    min-height: 700px;
    img {
    margin-right: 30px;
    }
    .on-a-mission-description {
      margin-left: 60px;
      padding: 0px;
      min-width: 450px;
      .body-text {
        margin-top: 70px;
      }
    }
  }
}

////////////////////////// contact-us /////////////////////
.contact-us {
  min-height: 100vh;
  background-color: $cream;
}


////////////////////////// the-veda-team /////////////////////
.the-veda-team {
  min-height: 100vh;
  background-color: $cream;
  .bio-col{
    margin-top: 55px;
    margin-bottom: 120px;
    .team-member{
      margin-top: 60px;
      .name{
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        color: $darkGray;
        line-height: 5px;
        margin: 0px;
      }
      .team-title{
        margin-bottom: 50px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $darkGray;
        text-transform: uppercase;
      }
      ul{
        list-style: none;
        text-align: left;
        padding-left: 0px;
        li{
          color: $darkGray;
          font-weight: 300;
          font-size: 16px;
          font-style: normal;
        }
      }
      .description{
        margin: 0px;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        color: $darkGray;
      }
    }
    .blue-block{
      background-color: $blue;
      border-radius: 5px;
      margin-top: 45px;
    }
    .green-block{
      background-color: $green;
      border-radius: 5px;
      margin-top: 45px;
    }
    .phone-number{
      color: $darkGray;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      margin-right: 20px;
    }
    .email{
      color: $green;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
    }
    .testimonial {
      padding: 40px 40px 10px 40px;
      font-size: 16px;
      font-weight: 300;
      color: $cream;
      quotes: "	\201C" "	\201D";
    }
    .testimonial:before {
      content: open-quote;
    }
    .testimonial:after {
      content: close-quote;
    }
    .author{
      padding: 0px 40px 40px 40px;
      font-size: 12px;
      color: $darkGray;
      font-weight: 300;
    }
  }
  .fun-fact{
    background-color: $orange;
    min-width: 100%;
    padding: 190px 0px;
    h3{
      font-size: 24px;
      color: $darkGray;
      font-weight: 300;
    }
  }
}

////////////////////////// Footer /////////////////////
footer {
  min-height: 35vh;
  background-color: $darkGray;
  color: $cream;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  .footer-mobile-logo {
    display: none;
  }
  .copyright-mobile{
    display: none;
  }
  .footer-badge img {
    max-width: 142px;
  }
  ul {
    float: left;
    text-align: left;
  }
  li {
    img {
      max-width: 32px;
    }
    a {
      display: block;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 300;
      line-height: 30px;
      color: $mediumGray;
      text-decoration: none;
    }
    a.list-item-plain {
      display: block;
      text-transform: none;
      margin-top: 20px;
    }
  }
  .footer-content-row{
    margin-bottom: 100px;
  }
  div {
    ul {
      display: flex;
      padding: 0px;
    }
    p {
      font-weight: 100;
      text-transform: uppercase;
      margin: 0px;
      font-size: .85em;
      text-align: left;
    }
    p.footer-address {
      font-size: .85em;
      margin: 0px;
      line-height: 18px;
      text-align: left;
    }
    h4.footer-email {
      font-size: 2em;
      font-weight: 300;
      font-style: italic;
      color: $green;
      margin: 0px 0px 20px 0px;
    }
    h4.footer-phone {
      font-size: 2em;
      font-style: italic;
      font-weight: 300;
      color: $cream;
      margin: 0px;
      text-align: left;
    }
  }
}

.footer-nav {
  min-height: 215px;
  border-left: 1px solid $mediumGray;
  border-right: 1px solid $mediumGray;
  margin-right: 0px;
  div {
    ul {
      margin-left: 25px;
      margin-right: 45px;
      display: block;
      padding-right: 25px;
    }
  }
}

.social-nav {
  margin: 0px;
  .social-icon {
    min-width: 32px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.footer-logo {
  background-color: $darkGray;
  // max-width: 120px;
  margin: 30px;
  margin-right: 35px;
  img {
    width: 115px;
  }
}

.footer-badge {
  min-width: 142px;
  padding-left: 55px;
}


.copyright {
  font-size: .85em;
  display: block;
  font-style: italic;
  font-weight: 300;
  color: $mediumGray;
  text-decoration: none;
  align-items: center;
  display: flex;
}


/////////////////// media queries ////////////////////
@media(max-width: 1200px){
  .the-veda-way .process-section {
    background-image: unset;
  }
}

@media screen and (max-width: 1100px){
  .reverse-group{
    flex-wrap: wrap-reverse;
  }

  .hero .hero-text h1 {
    font-size: 60px;
    line-height: 60px;
  }
  .case-study-featured .featured-case-study-image {
    display: none;
    img {
      @include circlePerc(100%);
      width: 100%;
      height: 100%;
      position: relative;;
      display: block;
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 1000px){
  .case-study-featured {
    .slider-row{
      flex-direction: column-reverse;
      height: unset;
    }
    .indicator-list li p {
      text-align: center;
      padding-right: 0px;
    }
    .indicator-row .col-xs-4 {
      padding: 0px 0px;
    }
  }
  .case-study-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: unset !important;
    max-height: 600px !important;
  }
  .featured-case-study-image {
    max-height: 600px;
    img {
      border-radius: 134px;
      max-width: 500px !important;
      max-height: 500px !important;
      position: relative;
      display: block;
    }
  }

}



@media screen and (max-width: 800px){
  .navbar {
    .navigation-links {
      margin: 0 0 0 0px;
    }
  }
  .menu-hover .navbar a {
      min-width: 100px;
      min-height: 20px;
      margin: 20px 5px;
  }
  .navbar a {
      min-width: 100px;
      min-height: 20px;
      margin: 20px 5px;
  }
  h1.title {
    font-size: 40px;
  }
  h1.title-left {
    font-size: 40px;
  }
  h2.title {
    font-size: 40px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
  }
  p.title-description {
    font-size: 16px;
    line-height: 18px;
  }
  blockquote {
    font-size: 30px;
    margin: 0px;
  }
  .blockquote-container {
    // height: 100%;
  }
  .hide-for-desktop {
    display: inline;
  }
  .author {
    text-align: center;
  }
  .row {
    max-width: 100%;
  }

  .hamburger {
    display: inline-block;
    margin: 10px;
    position: fixed;
    z-index: $z-index-5;
  }

  .mobile-menu {
    align-items: flex-start;
    align-content: flex-start;
    background: $darkGray;
    position: fixed;
    padding: 0px;
    top: 0;
    left: -230px;
    bottom: 0;
    z-index: $z-index-5;
    width: 210px;
    box-shadow: -63px 0px 3px 70px RGBA(0, 0, 0, .50);
    transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    &.active {
      left: 0;
      transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  }
  .menu-hover .navbar {
    position: inherit;
  }

  .navbar .logo {
    float: none;
    display: none;
  }

  .navbar .logo-mobile {
    width: unset;
    padding-left: 10px;
    top: 10px;
    margin: 10px 0px 0px 15px;
    display: block;
    position: fixed;
    z-index: 500;
    background-image: url("../images/veda-nav-logo.svg");
    background-repeat: no-repeat;
    background-clip: border-box;
  }

  .menu-hover .navbar .logo-mobile {
    width: unset;
    padding-left: 10px;
    margin-top: 10px;
    background-image: url("../images/logo-top.svg");
    background-repeat: no-repeat;
    background-clip: border-box;
    width: 140px;
    min-height: 60px;
    margin-left: 6%;
  }

  .menu-hover .navbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 500;
      background: none;
      height: 0px;
      margin-top: -3px;
      .logo {
        float: none;
        display: none;
      }
  }


  .navigation-links {
    float: none;
    margin-top: 10px;
    ul {
      list-style: none;
      display: block;
      li {
        float: none;
        a {
          text-decoration: none;
          text-align: left;
          max-height: 12px;
        }
      }
      li:nth-child(1) {
        padding: 0 5px 0 5px;
        margin: 15px 0px 0px 20px;
      }
      li:nth-child(2){
        padding: 0 5px 0 5px;
        margin: 15px 0px 0px 20px;
      }
      li:nth-child(3){
        padding: 0 5px 0 5px;
        margin: 15px 0px 0px 20px;
      }
      li:nth-child(4){
        border-left: 0px solid $mediumGray;
        padding: 0 5px 0 5px;
        margin: 15px 0px 0px 20px;
      }
      a {
        font-style: italic;
        text-transform: none;
        text-transform: left;
        padding: 0px 0px 0px 0px;
      }
      &:active {
        ul {
          display: block;
          list-style: none;
          li {
            padding: 0 5px 0 5px;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  ////////////////// footer /////////////////

  footer {
    height: 700px;
    padding-top: 0px;
    padding-bottom: 0px;
    .line-break {
      display: block;
    }
    .row {
      margin-top: 10px;
    }
    .footer-logo {
      display: none;
    }
    .footer-nav {
      display: none;
    }
    .footer-content-row .col-md-6:nth-child(2) .row.middle-md  {
      flex-direction: column;
    }
    .address {
      margin-top: 25px;
      margin-bottom: 10px;
      padding-left: 0px;
    }
    .footer-content-row{
      padding: 0px 30px;
      margin-bottom: 50px;
      padding-top: 0px;
    }
    .footer-content-row .col-md-6:first-child {
      margin-top: 40px;
    }
    .footer-mobile-logo {
      display: block;
      max-width: 75px;
      padding: 0px;
      margin-right: 30px;
      margin-left: 30px;
      img {
        max-width: 75px;
      }
    }
    .footer-badge {
      min-width: 142px;
      padding-left: 0px;
      margin-left: 0px;
    }
    .copyright {
      display: none;
    }
    .copyright-mobile{
      display: flex;
      font-style: italic;
      font-weight: 100;
      color: $mediumGray;
      margin-left: 30px;
    }
  }
//////////////// home screen  ////////////////
  .hero {
    height: 100vh;
  }
  .hero .hero-text {
    text-align: left;
  }

  .hero .hero-text h1 {
    font-size: 34px;
    line-height: 34px;
  }

  .hero-link {
    font-size: 18px;
  }
  .slider-row {
    min-height: 670px;
  }
  .case-study-featured {
    min-height: 670px;
    margin-top: 20px;
    padding: 10px;
    .case-study-details{
      .btn {
        margin-top: 0px;
      }
    }
    .row {
      flex-direction: column-reverse;
    }
    .case-study-details.active {
      align-items: center;
      align-content: center;
      justify-content: center;
      min-height: 100px;
    }
    .btn {
      display: inline-block;
      padding: 10px 20px 0px 20px;
    }
    .indicator-row {
      margin-bottom: 30px;
    }
    .indicator-list {
      padding: 0px 40px;
      flex-direction: inherit;
      justify-content: center;
      }
      li:first-child {
          list-style-type: none;
          color: RGBA(159, 157, 148, 1);
          min-width: 100%;
          padding-right: 0px;
          p {
            padding-right: 0px;
          }
      }
    }

    .indicator-col .start-sm {
      justify-content: center !important;
      align-items: center !important;
    }

    p {
      text-align: center;
    }
    h2.featured-project-title {
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
    }
    .case-study-image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      min-height: unset;
      max-height: 300px !important;
    }
    .featured-case-study-image {
      max-height: 300px;
      img {
        border-radius: 134px;
        max-width: 268px !important;
        max-height: 268px !important;
        position: relative;
        display: block;
      }
    }

  .case-study-featured .featured-case-study-image {
    margin-right: 0;
  }

  .how-we-work {
    padding: 50px 0px;
    img {
    width: 90%;
    }
    p {
    font-size: 16px;
    line-height: 18px;
    }
  }

  .client-list{
    .client-grid {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    }
    .row {
      width: 100%;
    }
    img {
      max-width: 100px;
    }
  }


  ////////////// work section //////////////
  .our-work-container{
    width: 100%;
  }
  .mobile-dropdown {
    max-height: 40px;
    text-align: center;
    padding: 0px 15px;
    background: $darkGray;
    color: $cream;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    p {
      display: block;
    }
    i {
      display: block;
      margin-top: 2px;
    }
  }

  .work-categories-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    margin-bottom: 0px;
    &.open {
      transition: max-height 0.5s;
      max-height: 1000px;
    }
    &.close {
      transition: min-height 0.5s;
    }
    li:first-child {
      margin-bottom: 0px !important;
    }
    li:nth-child(7) {
    margin-bottom: 0px !important;
    }
    a {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently*/
    }
  }

  .our-work .job p {
    line-height: 14px;
    margin: 5px;
    margin-left: 0px;
    text-align: left;
  }

  .col-md-4 {
    margin-bottom: 75px;
  }


  //////////////// case study page ////////////
  .case-study-page {
    width: 100%;
    p {
      text-align: left;
    }
    .featured-image img {
      width: 80% !important;
      height: unset;
      margin: 0px 10px;
    }
    .featured-image a {
      display: none;
    }
    .icon-row img {
      display: none;
    }
    .info-header .col-md-4{
      border-left: unset;
      padding-left: 22px;
      padding-bottom: 20px;
      padding-top: 20px;
      margin-bottom: 0px;
      border-bottom: 1px solid $lightGray;
      &:first-child {
        padding-top: 0px;
      }
      &:nth-child(3){
        margin-bottom: 30px;
      }
    }
    .client-shout-out {
      & * {
        margin-left: 5px;
      }
      .col-xs-12 {
        margin-left: 0px;
        padding-left: 0px;
      }
    }
    .client-link {
      display: none;
    }
    .mobile-client-link{
      margin-top: 20px;
      display: block;
    }
  }

  .case-study .thumb {
    height: unset;
    width: 100%;
    border-radius: 50%;
  }

  .morework-row {
    width: 100%;
    margin: 0 auto;
  }

  .our-work .content-col:last-child {
    padding-bottom: 5px;
  }

  .content-col {
    border-left: unset;
    margin: 0 auto;
    min-height: 350px;
  }


  //////////////// the veda team /////////////////
  .the-veda-team {
    .bio-col {
      margin-top: 55px;
      margin-bottom: 55px;
    }
    .bio-col:first-child {
        margin-top: 55px;
        margin-bottom: 0px;
    }
    &.row {
      width: 100vw;
    }
    .featured-image img {
    width: 80%;
    margin: 0px 0px;
    }
    .bio-col .email {
      color: RGBA(127, 194, 137, 1);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
    .bio-col .phone-number {
    color: RGBA(64, 64, 64, 1);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-right: 10px;
    }
  }

  ///////////////////// the-veda-way ///////////////
  .the-veda-way {
    .reverse-group{
      flex-wrap: wrap-reverse;
    }
    .container {
      max-width: 100%;
    }
    .process .col-md-5 {
      // max-width: ;
    }
    .featured-image {
      width: 100%;
      img {
        width: 100%;
        margin: 0px 0px;
      }
    }
    .on-a-mission .on-a-mission-description {
      margin-left: 0px;
      margin: 0px 5px;
      padding: 0px;
      min-width: unset;
      .body-text {
        margin-top: 0px;
      }
    }
    .process-description {
      padding: 30px 20px 0px 20px;
    }
    .row.process {
      margin: 70px 0px;
    }
    .row.process:first-child {
      margin: 70px 0px;
      margin-top: 40px;
    }
    .services-section {
      margin: 0px 0px 0px 0px;
      padding: 15px 0px 0px 0px;
    }
    .service:first-child{
      margin-top: 0px;
      padding-top: 10px;
    }
    .service {
      .col-xs-12 {
        padding: 0px;
      }
    }
    .the-veda-way .services-section .service {
      margin: 0px 0px;
      padding: 15px 0px;
      p {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }


  .number {
    display: none;
  }

}




@media screen and (max-width: 600px){

  .case-study-page .title-description{
    margin-bottom: 35px;
    h3 {
      color: $salmon;
      font-weight: 300;
      font-size: 16px;
    }
  }
  .case-study-featured {
    .indicator-list{
      padding: 0px 0px;
    }
  }
}
