<div id="banner" class='news-banner'>
  <div class="container">
    <div class="row middle-xs">
      <div class="col-md-12 middle">
        <cms:pages masterpage='news-article.php' custom_field='visible=visible' orderby='order' order='asc'>
        <!-- All the variables of each page cloned out of this template are available here -->

          <div class="news-item">
            <a href="news-article.php?pname=<cms:show k_page_name />"><cms:show k_page_title /> </a>
          </div>
        </cms:pages>

        <ul class="news-indicator middle-sm indicator-list">
        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="navbar" id="topnavbar">
  <div>
    <i class="fa fa-bars hamburger" aria-hidden="true"></i>
  </div>

  <div class="logo-mobile">
    <a href="/"></a>
  </div>

  <div class="row middle-xs between-xs end-xs nav-inner mobile-menu clearfix">

    <div class="logo-container">
      <a href="/">
        <div class="col-xs logo">
        </div>
      </a>
    </div>
    <cms:capture into='our_work_active_class' 'global'>
      <cms:if k_template_name=='our-work.php'>active</cms:if>
    </cms:capture>

    <cms:capture into='services_and_expertise_active_class' 'global'>
      <cms:if k_template_name=='services-and-expertise.php'>active</cms:if>
    </cms:capture>

    <cms:capture into='the_veda_way_active_class' 'global'>
      <cms:if k_template_name=='the-veda-way.php'>active</cms:if>
    </cms:capture>

    <cms:capture into='our_team_active_class' 'global'>
      <cms:if k_template_name=='our-team.php'>active</cms:if>
    </cms:capture>

    <div class="col-md-9 navigation-links">
      <ul>
        <li class="home-link"><%= link_to 'Home', '/' %></li>
        <li><a href="../our-work.php" class="<cms:show our_work_active_class/>">Our Work</a></li>
        <li><a href="../services-and-expertise.php" class="<cms:show services_and_expertise_active_class/>">Services & Expertise</a></li>
        <li><a href="../the-veda-way.php" class="<cms:show the_veda_way_active_class/>">The Veda Way</a></li>
        <li><a href="../the-veda-team.php" class="<cms:show our_team_active_class/>">Our Team</a></li>
        <li><%= link_to 'Contact', '#contact' %></li>
      </ul>
    </div>
  </div>
</nav>

<%# <script> %>
<%# $('#topnavbar').affix({ %>
<%#     offset: { %>
<%#         top: $('#banner').height() %>
<%#     } %>
<%# }); %>

<%# </script> %>
