---
title: Case Study
---

<div class="row case-study-page">

  <div class="row center-md">
    <div class="col-md-12">

      <div class="row center-md">
        <div class="col-md-10 featured-image">
          <div class="col-md-8">
            <a href="../our-work/" class="btn-work btn-primary">< All work</a>
          </div>
          <%= image_tag 'crab-square.jpg' %>
        </div>
      </div>

      <div class="row center-md">
        <div class="col-md-8">
          <h1 class="title">Diminishing the Damage of Derelict Crab Pots</h1>
        </div>
      </div>

      <div class="row center-md title-description">
        <div class="col-md-9">
          <h3>Veda convened scientists, government regulators, professional, tribal &amp; recreational fishermen, and citizens to work together to commit to action that is helping save the fishery and all that depend on it.</h3>
        </div>
      </div>

      <div class="row center-md between-sm info-header">
        <div class="col-md-3">
          <p>Project</p>
          <p>Derelict Fishing Gear Program</p>
        </div>
        <div class="col-md-3">
          <p>Project</p>
          <p>Derelict Fishing Gear Program</p>
        </div>
        <div class="col-md-3">
          <p>Project</p>
          <p>Derelict Fishing Gear Program</p>
        </div>
      </div>



      <div class="row center-md">
        <div class="col-md-10">
          <div class="detail-textblock">
            <h4>Situation</h4>
            <p>More than 12,000 crab pots are lost and become derelict in Puget Sound each year, killing over 177,000 harvestable crabs and costing the crab fishery more than $700,000. These “ghost” pots continue to catch crabs, which die and become bait for more crabs, creating an endless destructive cycle. Veda Environmental worked with the internationally recognized Northwest Straits Marine Conservation Foundation (NWSF) and its “Derelict Fishing Gear” program to design an overall process to engage key scientists and stakeholders to identify the priority actions to reduce lost crab pots in Puget Sound.</p>
        </div>
        <div class="detail-textblock">
          <h4>Design</h4>
          <p>After an exhaustive review of all relevant research, including legislative and educational initiatives, Veda worked with NWSF to design a process for engaging stakeholders to identify and agree to key strategies and actions to reduce derelict crab pots.

          Key to Veda’s design was ensuring that all the right stakeholders – those individuals and entities who could be impacted by any of the potential strategies - were either directly involved or represented in the process. Invited stakeholders included key scientists; government agencies including WA Dept. of Fish and Wildlife, WA Dept. of Natural Resources, local and tribal governments; fishing groups including tribal, commercial and recreational; as well as vessel pilots, whose large ships can inadvertently cut fishing and crab pot lines.</p>
        </div>
        <div class="detail-textblock">
          <h4>Action</h4>
          <p>Veda designed and facilitated two half-day work sessions in which stakeholders developed a shared understanding of possibilities and implications and identified what were the highest priority actions to meaningfully reduce derelict crab pots. With Veda’s guidance, the group also agreed to and made commitments implementing specific priority actions. </p>
        </div>
        <div class="detail-textblock">
          <h4>Outcome</h4>
          <p>Veda delivered a final report that documented the entire process for identifying and convening key stakeholders, including a summary of the actions needed to make progress on the issue. The report also included an overview of the prioritization process, and showcased a table highlighting the highest priority actions that the entire group agreed were the most important. </p>
        </div>
        <div class="detail-textblock">
          <h4>Impact</h4>
          <p>As a result of the workshop, NWSF has: </p>
            <ul>
              <li>• Received funding from the National Fish and Wildlife Foundation (NFWF) to implement one of the highest priority actions identified at the workshop: conducting an educational campaign to manufacturers of crab pots to increase the use of escapement cord (allowing crabs to escape should the pot become derelict).</li>
              <li>• Launched a highly successful Facebook ad campaign that reached 309,000 viewers with videos about behaviors that could help crab pots from becoming lost.</li>
              <li>• Conducted removal actions of lost crab pots in high priority areas identified at workshop.</li>
            </ul>

        </div>
      </div>
    </div>
  </div>

  <div class="row client-shout-out center-sm">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <div class="row center-sm between-sm">
            <div class="col-md-5">
              <p>CLIENT SHOUT OUT: </p>
              <h3>The Northwest Straits Initiative</h3>
            </div>
            <div class="col-md-3">
              <a href="../our-work/" class="btn-white btn-primary">Visit their website</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row center-sm">
        <div class="col-md-12">
          <p>Veda is proud to support the amazing work of the Northwest Straits Initiative and Northwest Straits Foundation. Together, these two entities promote unique, citizen-based marine conservation projects throughout north Puget Sound, brilliantly weaving together science, policy and fun. From removing derelict fishing gear that harms wildlife to educating communities about the state of the science on ocean acidification, NWSI and NWSF work from the ground up to protect the waters and the wildlife of our beloved Puget Sound. What’s not to love?</p>
        </div>
      </div>
    </div>


  </div>


  <div class="row center-sm veda-quote blockquote-container">

    <div class="col-md-10">
      <blockquote>Their final product exceeded our expectations and was a great investment for us.</blockquote>
    </div>

    <div class="row center-sm">
      <div class="col-md-8 author"><p class="author title">- Pete Granger, Program Leader Marine Advisory Services, University of Washington Sea Grant</p></div>
    </div>

  </div>

  </div>
</div>
