
<cms:template title="Featured_case_study" clonable="1">

  <cms:editable name="featured_image" type="image" order="1"></cms:editable>
  <cms:editable name="carousel_image" type="image" order="1"></cms:editable>
  <cms:editable name="hero_image" type="image"
  order="1"></cms:editable>

  <cms:editable name="project_title" type="text" order="2"></cms:editable>

  <cms:editable name="project_description" type="textarea" order="3"></cms:editable>

  <cms:editable name="project_gear" type="text" order="4"></cms:editable>

  <cms:editable name="project_client" type="text" order="5"></cms:editable>

  <cms:editable name='categories_jobs' type='relation' order="6" masterpage="categories/index.php"/>

  <cms:editable name="situation" type="textarea" order="7"></cms:editable>

  <cms:editable name="design" type="textarea" order="8"></cms:editable>

  <cms:editable name="action" type="textarea" order="9"></cms:editable>

  <cms:editable name="outcome" type="textarea" order="10"></cms:editable>

  <cms:editable name="impact" type="textarea" order="11"></cms:editable>

  <cms:editable name="client_shout_out_title" type="text" order="12"></cms:editable>

  <cms:editable name="client_site_link" type="text" order="13"></cms:editable>

  <cms:editable name="client_shout_out_description" type="textarea" order="14"></cms:editable>

  <cms:editable name="blockquote" type="text" order="15"></cms:editable>

  <cms:editable name="blockquote_author" type="text" order="16"></cms:editable>

</cms:template>

<div class="row case-study-page">

  <div class="container">

    <div class="row center-md center-xs">
      <div class="col-md-12 col-xs-11">

        <div class="row center-md center-xs">
          <div class="col-md-10 featured-image">
            <div class="col-md-8">
              <a href="../our-work/" class="btn btn-work btn-primary">< All work</a>
            </div>
            <img src="
            <cms:show featured_image />
            "/>
          </div>
        </div>

        <div class="row center-md center-xs">
          <div class="col-md-8">
            <h1 class="title-case-study">
              <cms:show project_title />
            </h1>
          </div>
        </div>

        <div class="row center-md center-xs title-description">
          <div class="col-md-9 col-xs-12 ">
            <h3>
              <cms:show project_description />
            </h3>
          </div>
        </div>

        <div class="row center-md center-xs info-header">
          <div class="col-md-10 col-sm-8">
            <div class="row between-sm center-xs">

              <div class="col-md-4 col-xs-11">
                <div class="row middle-sm center-xs icon-row">
                  <div class="col-md-2"><%= image_tag 'project-icon.svg' %></div>
                  <div class="col-md-10"><p class="icon-title">Project</p></div>
                </div>
                <div class="row middle-sm">
                  <div class="col-md-12">
                    <p>
                      <cms:show project_gear />
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xs-11">
                <div class="row middle-sm center-xs icon-row">
                  <div class="col-md-2"><%= image_tag 'client-icon.svg' %></div>
                  <div class="col-md-10"><p class="icon-title">client</p></div>
                </div>
                <div class="row middle-sm">
                  <div class="col-md-12"><p>
                    <cms:show project_client />
                  </p></div>
                </div>
              </div>

              <div class="col-md-4 col-xs-11">
                <div class="row middle-sm center-xs icon-row">
                  <div class="col-md-2"><%= image_tag 'check-icon.svg' %></div>
                  <div class="col-md-10"><p class="icon-title">veda provided</p></div>
                </div>
                <div class="row middle-sm">
                  <div class="col-md-12">
                    <p>
                      <cms:related_pages 'categories_jobs' limit='5'>
                      <a href=""><cms:show k_page_title />, </a>
                    </cms:related_pages>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="row center-md center-xs">
      <div class="col-md-10 col-xs-11">
        <div class="detail-textblock">
          <h4>Situation</h4>
          <p>
            <cms:show situation />
          </p>
        </div>
        <div class="detail-textblock">
          <h4>Design</h4>
          <p>
            <cms:show design />
          </p>
        </div>
        <div class="detail-textblock">
          <h4>Action</h4>
          <p>
            <cms:show action />
          </p>
        </div>
        <div class="detail-textblock">
          <h4>Outcome</h4>
          <p>
            <cms:show outcome />
          </p>
        </div>
        <div class="detail-textblock">
          <h4>Impact</h4>
          <p>
            <cms:show impact />
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>









<div class="row shout-out case-study-page ">

  <div class="container">

    <div class="row center-md client-shout-out center-xs">
      <div class="col-md-10 col-xs-11">

              <!-- <div class="row client-shout-out center-sm center-xs">
                <div class="col-md-10 col-xs-11"> -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row center-sm between-sm between-xs">
                        <div class="col-md-5 col-sm-10">
                          <p>CLIENT SHOUT OUT: </p>
                          <h3>
                            <cms:show client_shout_out_title />
                          </h3>
                        </div>
                        <div class="col-md-3 client-link">
                          <a href="<cms:show client_site_link/>" class="btn-white btn-primary">Visit their website</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row center-sm">
                    <div class="col-md-12">
                      <p>
                        <cms:show client_shout_out_description />
                      </p>
                    </div>
                  </div>
                  <div class="mobile-client-link">
                    <a href="<cms:show client_site_link/>" class="btn-white btn-primary">Visit their website</a>
                  </div>

                </div>
              </div>
            </div>
            </div>


<div class="container">
  <div class="row center-sm veda-quote blockquote-container">

    <div class="col-md-10 col-xs-12">
      <blockquote>
        <cms:show blockquote />
      </blockquote>
    </div>

    <div class="row center-sm center-xs">
      <div class="col-md-8 col-xs-8 author"><p class="author title">
        <cms:show blockquote_author />
      </p></div>
    </div>

  </div>
</div>
</div>


</div>
