---
title: News Article
---

<cms:template title="News article" clonable="1">

  <cms:editable name="article_content" type="richtext" order="1"></cms:editable>

  <cms:editable name="visible" type="checkbox" opt_values="Visible"> </cms:editable>
</cms:template>

<div class="row news-article-page">
  <div class="container">
    <div class="row center-md center-xs">
      <div class="col-md-10 featured-image">
        <a href="/" class="btn btn-work btn-primary">< Home</a>
      </div>
    </div>
    <div class="row center-xs">
      <div class="col-md-10 col-xs">
        <h1 class="title title-left page-title">
          <cms:show k_page_title />
        </h1>
      </div>
    </div>

    <div class="row center-md  title-description">
      <div class="col-md-10 col-xs-12 text-left news-article-content">
        <cms:show article_content />
      </div>
    </div>
  </div>
</div>
