d--
title: Our Work
---

<div class="row center-md our-work-container">
  <div class="col-md-12 col-xs-12">
    <div class="container">
      <div class="row center-md middle-md">
        <div class="col-md-10">
          <div class="row center-sm center-xs">
            <div class="col-md-10 ">
              <h1 class="title page-title">
                <cms:editable name="page_title">
                Work, work, work.
                </cms:editable>
              </h1>
            </div>
          </div>
          <div class="row center-sm">
            <div class="col-md-12">
              <p class="title-description">
                <cms:editable type="text" name="page_description">
                Veda has been helping shape policy, communication and education in our environment for over two decades. The results speak for themselves.
                </cms:editable>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="featured-case-studies-row row around-md center-xs">
        <cms:pages masterpage='featured-case-study.php' custom_field="visible=Visible">
        <div class="col-md-4">
          <div class="row center-md center-xs">
            <div class="col-md-12">
              <a href="featured-case-study.php?pname=<cms:show k_page_name />"><img src="<cms:show featured_image/>" alt="" class="thumb" /></a>
            </div>
          </div>
          <div class="row center-md center-xs top-md middle-xs case-study-title">
            <div class="col-md-12">
              <h3>
                <cms:show project_title />
              </h3>
            </div>
          </div>
          <div class="row center-md center-xs case-study-btn-row">
            <div class="col-md-12">
              <a href="featured-case-study.php?pname=<cms:show k_page_name />" class="btn btn-primary">See the Case Study</a>
            </div>
          </div>
        </div>
                </cms:pages>
      </div>

      <div class="row center-md more-work-section" id="work-examples">
        <div class="col-md-12">
          <div class="row center-md center-xs">
            <div class="col-md-2">
              <p class="title">MORE WORK</p>
            </div>
          </div>
          <div class="row morework-row morework-row-border top-xs">
            <div class="work-nav col-md-3 col-sm-3 col-xs-12">
              <div class="mobile-dropdown">
                <p>View All</p>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </div>
              <div class="work-categories-menu">
                <ul class="work-categories-item">
                  <li class="all active" ><a href="" id="all">View All</a></li>
                </ul>
                <ul class="work-categories-item">
                  <h4>Services:</h4>
                  <cms:pages masterpage='services.php' custom_field='service_section=Services' orderby="service_order" order="asc">
                  <li><a href="" id="<cms:show k_page_name />"><cms:show k_page_title /></a></li>
                      </cms:pages>
                </ul>

                <ul class="work-categories-item">
                  <h4>Expertise:</h4>
                  <cms:pages masterpage='services.php' custom_field='service_section=Expertise' orderby="service_order" order="asc">
                  <li><a href="" id="<cms:show k_page_name />"><cms:show k_page_title /></a></li>
                      </cms:pages>
                </ul>
                <ul class="work-categories-item">
                  <h4>Other:</h4>
                  <li class="Public-status"><a href="" id="Public">Public</a></li>
                  <!-- <li><a href="" id="Private">Private</a></li> -->
                  <li><a href="" id="Nonprofit">Nonprofit</a></li>
                </ul>
                </ul>
              </div>
            </div>
            <div class="content-col col-md-9 col-sm-6 col-xs-12">
              <div class="row category-selection-title">
                <h3 id="categorySelectionTitle"></h3>
              </div>
              <div class="row category-selection-description">

                <cms:pages masterpage='services.php'>
                <span class="category-description" data-category-name="<cms:show k_page_name />">
                  <cms:show service_description />
                </span>
                  </cms:pages>
              </div>
              <div class="category-image-sets">
                <cms:pages masterpage='services.php'>
                <div class="row thumbnail-row hidden" data-category-name="<cms:show k_page_name />">
                  <cms:related_pages 'services_service_images' limit='6' orderby="page_name" order="asc" >
                  <div class="col-md-2">
                    <a href="<cms:show service_image />" data-lightbox="image" class="image-container">
                      <img src="<cms:thumbnail service_image width="95" height="95"/>" />
                      <div class="zoom-icon"></div></a>
                  </div>
                      </cms:related_pages>
                </div>
                      </cms:pages>
                      <div class="divider"> </div>
              </div>

              <cms:pages masterpage='job.php'>
              <div class="row job " data-tag="<cms:related_pages 'services_jobs' limit='5'><cms:show k_page_name /></cms:related_pages> <cms:each business_status as='cat'><cms:show cat /></cms:each>
              ">

              <div class="col-md-12">
                <h3><cms:show k_page_title /></h3>
                <p><span class="bold">CLIENT:</span> <cms:show client /></p>
                <p><span class="bold">YEAR: </span><cms:show year /></p>
                <p>
                  <cms:related_pages 'services_jobs' limit='1' custom_field="service_section=Service">
                  <span class="bold">SERVICES:</span>
                  <cms:no_results>
                  </cms:no_results>
                  </cms:related_pages>
                  <cms:related_pages 'services_jobs' limit='5' custom_field="service_section=Service">
                    <a href="/our-work.php?service=<cms:php>echo(str_replace('_', '-','<cms:show k_page_name />'));</cms:php>#<cms:show k_page_name />">
                    <cms:show k_page_title /><cms:if k_count != k_total_records>,</cms:if>
                  </a>
                  <cms:no_results>
                  -
                  </cms:no_results>
                    </cms:related_pages>
                </p>
                <p>

                  <cms:related_pages 'services_jobs' limit='1' custom_field="service_section=Expertise">
                  <span class="bold">EXPERTISE:</span>
                  <cms:no_results>
                  </cms:no_results>
                  </cms:related_pages>
                  <cms:related_pages 'services_jobs' limit='5' custom_field="service_section=Expertise">
                  <a href="/our-work.php?service=<cms:php>echo(str_replace('_', '-','<cms:show k_page_name />'));</cms:php>">
                    <cms:show k_page_title /><cms:if k_count != k_total_records>,</cms:if>
                  </a>
                    </cms:related_pages>

                </p>
              </div>
              </div>
                    </cms:pages>
            </div>
          </div>
          <!-- <div class="row morework&#45;row"> -->
          <!-- <div class="col&#45;md left"> -->
          <!-- <p class="">*Projects carried out by Hilary and Sarah prior to founding Veda Environmental</p> -->
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>

      <div class="row center-sm center-xs veda-quote blockquote-container">
        <div class="col-md-10 col-xs-12">
          <blockquote><cms:editable name="quote">Veda was extremely helpful in translating the complex science of the project into comprehensible language.</cms:editable></blockquote>
        </div>
        <div class="row center-sm center-xs">
          <div class="col-md-8 col-sm-8 col-xs-10 author"><p class="author title">- <cms:editable name="quote_author">Ron Shultz, Director of Policy & Inter Governmental Relations, Washington Conservation Commission</cms:editable></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
