---
title: Our Work
---
<div class="our-work-container">
  <div class="page-title row center-md middle-md">
    <div class="col-md-10">
      <div class="row center-sm">
        <div class="col-md-5">
          <h1>Work, work, work.</h1>
        </div>
      </div>
      <div class="row center-sm">
        <div class="col-md-8">
          <p>Veda has been helping shape policy, communication and education in our environment for over two decades. The results speak for themselves.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="case-study row around-md">
    <div class="col-md-4">
      <div class="row center-md">
        <div class="col-md-12">
          <img src="" alt="" class="thumb" />
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-10">
          <h3>thumbnail caption text</h3>
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-8">
          <a href="" class="btn-work btn-primary">see the case study</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row center-md">
        <div class="col-md-12">
          <img src="" alt="" class="thumb" />
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-10">
          <h3>thumbnail caption text</h3>
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-8">
          <a href="" class="btn-work btn-primary">see the case study</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row center-md">
        <div class="col-md-12">
          <img src="" alt="" class="thumb" />
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-10">
          <h3>thumbnail caption text</h3>
        </div>
      </div>
      <div class="row center-md">
        <div class="col-md-8">
          <a href="" class="btn-work btn-primary">see the case study</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row center-md more-work-section">
    <div class="col-md-12">
      <div class="row center-md">
        <div class="col-md-2">
          <p class="title">MORE WORK</p>
        </div>
      </div>
      <div class="row morework-row morework-row-border top-xs">
        <div class="work-nav col-md-4">
          <ul>
            <li>View All</li>
            <li class="active"><a>Facilitation</a></li>
            <li><a href="">Public Outreach</a></li>
            <li><a href="">Strategic Planning</a></li>
            <li><a href="">Stakeholder Endgagement</a></li>
            <li><a href="">Science Comm. &amp; Education </a></li>
            <li><a href="">Workshop Planning</a></li>
            <li><a href="">Public</a></li>
            <li><a href="">Private</a></li>
            <li><a href="">Non-Profit</a></li>
          </ul>
        </div>
        <div class="facilitation-col col-md-8">
          <div class="row">
            <h3>Facilitation</h3>
          </div>
          <div class="row">
            <div class="col-md-2"><img src="" alt=""></div>
            <div class="col-md-2"><img src="" alt=""></div>
            <div class="col-md-2"><img src="" alt=""></div>
            <div class="col-md-2"><img src="" alt=""></div>
            <div class="col-md-2"><img src="" alt=""></div>
            <div class="col-md-2"><img src="" alt=""></div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>more work title</h3>
              <p>client</p>
              <p>year</p>
              <p>veda provided:<a href="">link</a></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>more work title</h3>
              <p>client</p>
              <p>year</p>
              <p>veda provided:<a href="">link</a></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>more work title</h3>
              <p>client</p>
              <p>year</p>
              <p>veda provided:<a href="">link</a></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>more work title</h3>
              <p>client</p>
              <p>year</p>
              <p>veda provided:<a href="">link</a></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h3>more work title</h3>
              <p>client</p>
              <p>year</p>
              <p>veda provided:<a href="">link</a></p>
            </div>
          </div>

        </div>
      </div>
      <div class="row morework-row">
        <div class="col-md left">
          <p class="">*Projects carried out by Hilary and Sarah prior to founding Veda Environmental</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row center-sm veda-quote">

    <div class="col-md-8">
        <blockquote>Veda was extremely helpful in translating the complex science of the project into comprehensible language.</blockquote>
    </div>

    <div class="row center-sm">
      <div class="col-md-8 author"><p class="author title">- Pete Granger, Program Leader Marine Advisory Services, University of Washington Sea Grant</p></div>
    </div>

  </div>

</div>
