---
title: Our Work
---

<div class="row center-md our-work-container">
  <div class="col-md-12 col-xs-12">
    <div class="container">

      <div class="row center-md middle-md">
        <div class="col-md-10">
          <div class="row center-sm center-xs">
            <div class="col-md-8">
              <h1 class="title page-title">Work, work, work.</h1>
            </div>
          </div>
          <div class="row center-sm">
            <div class="col-md-12">
              <p class="title-description">Veda has been helping shape policy, communication and education in our environment for over two decades. The results speak for themselves.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="featured-case-studies-row row around-md center-xs">
        <cms:pages masterpage='featured-case-study/index.php'>
          <div class="col-md-4">
            <div class="row center-md center-xs">
              <div class="col-md-12">
                <img src="<cms:show featured_image/>" alt="" class="thumb" />
              </div>
            </div>
            <div class="row center-md center-xs middle-xs case-study-title">
              <div class="col-md-12">
                <h3>
                  <cms:show project_title />
                </h3>
              </div>
            </div>
            <div class="row center-md center-xs">
              <div class="col-md-12">
                <a href="/featured-case-study/<cms:show k_page_name />.html" class="btn btn-primary">see the case study</a>
              </div>
            </div>
          </div>
        </cms:pages>
      </div>

      <div class="row center-md more-work-section" id="work-examples">
        <div class="col-md-12">
          <div class="row center-md center-xs">
            <div class="col-md-2">
              <p class="title">MORE WORK</p>
            </div>
          </div>
          <div class="row morework-row morework-row-border top-xs">
            <div class="work-nav col-md-3 col-sm-3 col-xs-12">
              <div class="mobile-dropdown">
                <p>View All</p>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </div>
              <ul class="work-categories-menu">
                <li class="all active" ><a href="" id="all">View All</a></li>

                <cms:pages masterpage='categories/index.php'>
                  <li><a href="" id="<cms:show k_page_name />"><cms:show k_page_title /></a></li>
                </cms:pages>

                <cms:pages masterpage='job/index.php'>
                  <cms:each business_status as='cat'>
                    <li><a href="" id=""><cms:show cat /></a></li>
                  </cms:each>
                </cms:pages>

              </ul>
            </div>

            <div class="content-col col-md-9 col-sm-6 col-xs-12">
              <div class="row">
                <h3 id="categorySelectionTitle"></h3>
              </div>

              <div class="category-image-sets">
                <cms:pages masterpage='categories/index.php'>
                  <div class="row thumbnail-row hidden" data-category-name="<cms:show k_page_name />">
                    <cms:show_repeatable 'category_images' count='6'>
                      <div class="col-md-2">
                        <a href="<cms:show category_large_image />" data-lightbox="image">
                        <img src="<cms:show category_image />" id="" /></a></div>
                    </cms:show_repeatable>
                  </div>
                </cms:pages>
              </div>

              <cms:pages masterpage='job/index.php'>
                <div class="row job " data-tag="<cms:related_pages 'categories_jobs' limit='5'><cms:show k_page_name />     </cms:related_pages>">
                  <div class="col-md-12">
                    <h3><cms:show job_title /></h3>
                    <p><span class="bold">CLIENT:</span> <cms:show client /></p>
                    <p><span class="bold">YEAR: </span><cms:show year /></p>
                    <p><span class="bold">VEDA PROVIDED: </span>
                      <cms:related_pages 'categories_jobs' limit='5'>
                        <a href="<cms:show category_url />">
                        <cms:show k_page_title /><cms:if k_count != k_total_records>,</cms:if>
                        </a>
                    </cms:related_pages>

                    </p>
                  </div>
                </div>
              </cms:pages>
            </div>
          </div>
          <div class="row morework-row">
            <div class="col-md left">
              <p class="">*Projects carried out by Hilary and Sarah prior to founding Veda Environmental</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row center-sm center-xs veda-quote blockquote-container">
        <div class="col-md-10">
          <blockquote>Veda was extremely helpful in translating the complex science of the project into comprehensible language.</blockquote>
        </div>
        <div class="row center-sm">
          <div class="col-md-8 col-sm-8 author"><p class="author title">- Ron Shultz, Director of Policy & Inter Governmental Relations, Washington Conservation Commission</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
