---
title: Services and Expertise
---

<div class="row center-md the-veda-way">
  <div class="col-md-12 col-sm-12 container">
    <div class="row center-md services-section" id="services">
      <cms:editable type='relation' name='specialty_types' masterpage='specialty-type.php' />

      <cms:pages masterpage='specialty-type.php' orderby="specialty_type_order" order="asc" >
        <div class="row center-md">
          <div class="col-md-12 col-xs-12">
            <h1 class="title">
              <cms:show k_page_title/>
            </h1>
          </div>
        </div>
        <cms:related_pages masterpage='specialty.php' orderby="specialty_order" order="asc">
          <div class="col-md-12 col-xs-12" >
            <div class="row center-md middle-md service" id="<cms:show k_page_name />">
              <div class="col-sm-2 ">
                <img src="<cms:show specialty_image />" %>
              </div>
              <div class="col-sm-10 col-xs-12">
                <h4><cms:show k_page_title /></h4>
                <p>
                  <cms:show specialty_description />
                </p>
                <a class="examples" href="<cms:show specialty_url />">See some examples</a>
              </div>
            </div>
          </div>
        </cms:related_pages>
      </cms:pages>
    </div>
  </div>
</div>
