---
title: Our Team
---

<div class="container">
  <div class="row center-md center-xs the-veda-team">

    <div class="col-xs-12 top-container">

      <div class="row center-md middle-md">
        <div class="col-md-10 col-xs-12">
          <div class="row center-sm center-xs">
            <div class="col-md-8 col-xs-12">
              <h1 class="title page-title">
                <cms:editable name="page_title">
                  Hello. We’re Veda.
                </cms:editable>
              </h1>
            </div>
          </div>
          <div class="row center-sm center-xs">
            <div class="col-md-12 col-xs-12">
              <p class="title-description">
                <cms:editable name="page_description" type="text">
                  Veda is co-owned by two enthusiastic and dedicated professional women. Between them they have over 40 years of experience working in the environmental field. Hilary and Sarah formed Veda in 2008 out of both a frustration and a passion — a frustration about how inefficient much of the processes were around environmental issues and a passion to work in a manner that actually made a positive difference for the environment.
                </cms:editable>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="team-section bottom-border">
        <div class="row center-md center-xs process">

          <div class="col-md-5 col-xs-12 bio-col">
            <div class="featured-image">
              <%= image_tag "sara-brace.png" %>
            </div>

            <div class="row center-md team-member">
              <div class="col-md-12 col-xs-12">
                <h3 class="name">
                  <cms:editable name="team_member_1_name">
                    Sarah Brace
                  </cms:editable>
                </h3>
                <p class="team-title">
                  <cms:editable name="team_member_1_title">
                    Principal &amp; Co-founder
                  </cms:editable>
                </p>
                  <p>Sarah is a science junky at heart, with passion for seeing the trees for the forest. Her background in botany, air quality and forest ecology led her though a circuitous route to her current role at Veda, where she helps connect science to decisions-makers. </p>

                  <p>
                    Sarah’s current passions:
                    <ul class="experience">
                      <li>Preventing oil spills from happening</li>
                      <li>Translating jargon into everyday terms</li>
                      <li>Leading sticky conversation</li>
                      <li>Skiing, hiking, and basically doing anything outdoors</li>
                    </ul>
                  </p>
                  <p>Sarah earned her B.A. in Biology at Smith College, and M.S. in Forestry at the University of Washington. </p>
                <p class="contact"><span class="phone-number"><cms:editable name="team_member_1_phone">206.409.3253</cms:editable></span><a href="mailto:sarah@vedaenv.com"><span class="email">sarah@vedaenv.com</span></a></p>
                <div class="blue-block">
                  <p class="testimonial"><cms:editable name="team_member_1_testimonial">Sarah has an amazing grasp of complex scientific subjects and how to communicate them effectively to the public.  She facilitates technical discussions among experts and arrives at the kernel of wisdom that lies within.  Her passion for finding solutions is manifest through an energy to listen to polarized stakeholders and find value in all sources of input to a discussion.</cms:editable></p>
                  <p class="author">- <cms:editable name="team_member_1_testimonial_author">Doug Myers, Director of Science (former), People for Puget Sound</cms:editable></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-xs-12 bio-col">
            <div class="featured-image">
              <%= image_tag "hilary-wilkinson.png" %>
            </div>

            <div class="row center-md team-member">
              <div class="col-md-12 col-xs-12">
                <h3 class="name">
                  <cms:editable name="team_member_2_name">
                    Hilary Wilkinson
                  </cms:editable>
                </h3>
                <p class="team-title">
                  <cms:editable name="team_member_2_title">
                    Principal &amp; Co-founder
                  </cms:editable>
                </p>
                  <p class="description">Hilary is a middle child and a natural mediator. Fascinated by science and politics, she has a soft spot for critters great and small and found her true calling mediating and facilitating environmental disputes and processes. </p>
                  <p>
                    Hilary’s current passions:
                  <ul>
                    <li>Addressing legacy pollution</li>
                    <li>Cleaning up derelict fishing gear</li>
                    <li>Helping environmental scientists parley their work into action and communicate with mere mortals</li>
                    <li>Kayaking, swimming, skiing, and backpacking</li>
                  </ul>
                  </p>
                  <p class="description">Hilary earned her BA in Political Science at Occidental College, and an MS in Environmental Science and a Masters in Public Affairs from Indiana University’s School of Public and Environmental Affairs </p>
                <p class="contact"><span class="phone-number"><cms:editable name="team_member_2_phone">360.319.3493</cms:editable></span><a href="mailto:hilary@vedaenv.com"><span class="email">hilary@vedaenv.com</span></a></p>
                <div class="green-block">
                  <p class="testimonial"><cms:editable name="team_member_2_testimonial">The success of Hilary's facilitiation skills comes from her extensive background in the science and policy of environmental issues and helping us plan and stage work sessions to achieve our goals.  She was adept at listening, quickly processing input from the group, keeping us organized and on track while moving forward toward our goals.</cms:editable></p>
                  <p class="author">- <cms:editable name="team_member_2_testimonial_author">Mary Knackstedt, Executive Coordinator (former), San Juan MRC</cms:editable></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
        <div class="row middle-sm center-sm center-xs fun-fact">
            <div class="container">
              <div class="row center-sm center-xs">
                <div class="col-md-10 col-xs-10">
                    <h3><span class="bold">Fun Fact:</span> <cms:editable name="fun_fact" type="text">
                    Veda means “science” in Czech, and “knowledge” or “wisdom” in Sanskrit.</cms:editable>
                    </h3>
                  <%= image_tag "veda-equals.svg" %>
                </div>
            </div>
            </div>
        </div>

  </div>
